{
    //hook name
    "envName": "unitTests",
    "name": "TestCase",
    "botToken": "testBotToken123456",
    "logChatId": -123456789,
    "locale": "EN",
    "enableApiLogging": false,
    "newMemberValidationTimeout": 42,
    "dataAggregates" : [
        {
            "chatId" : -123,
            "action" : "logToFile",
            "fileName" : "spammers.msgs.csv"
        }
    ]
}